@import "./_reset";

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--font-text-body);
    font-size: 14px;
    margin: 0 auto;
    width: 1440px;
    overflow-x: hidden;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: var(--bg-main);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body::-webkit-scrollbar {
    width: 3px;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--cyan);
    border-radius: 20px;
}

body::-webkit-scrollbar-track {
    background: linear-gradient(var(--cyan), var(--neutral));
}

@media (max-width: 736px) {
    body {
        width: 375px;
    }
}