.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: var(--bg-main);
    gap: 5em;
    flex-wrap: wrap;
    text-align: center;

    .imageCard {
        width: 600px;

        img {
            width: 150px;
        }

        h4 {
            margin: 0.5em 0;
            font-size: 20px;
        }

        p {
            padding: 0 9em;
            font-size: 14px;
        }
    }
}

@media (max-width: 736px) {
    .main {
        padding-top: 25em;

        .imageCard {
            width: auto;

            img {
                width: 100px;
            }

            h4 {
                margin: 0.5em 0;
                font-size: 20px;
            }

            p {
                padding: 0 1.5em;
                font-size: 14px;
            }

        }
    }
}