.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--bg-intro);

    img {
        width: 800px;
    }

    h1 {
        font-size: 40px;
        width: 800px;
    }

    p {
        margin: 1em 0;
        font-size: 20px;
        width: 600px;
    }
}

.imageBG {
    background: url("../../assets/bg-curvy-desktop.svg") no-repeat center/cover;
    background-position-x: -12em;
    background-color: var(--bg-intro);
    height: 500px;
    margin-top: -14rem;
}

@media (max-width: 736px) {
    .intro {
        padding-top: 2em;
        img {
            width: 100%;
        }

        h1 {
            font-size: 25px;
            width: auto;
        }

        p {
            font-size: 16px;
            padding: 1em;
            width: auto;
        }
    }

    .imageBG {
        background: url("../../assets/bg-curvy-mobile.svg") no-repeat center/cover;
        height: 150px;
        margin-top: -23rem;
    }
}