.stayProductive {
    padding: 10em 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--bg-main);

    .stayText {
        width: 600px;

        h2 {
            font-size: 50px;
            line-height: 1.2em;
        }

        p {
            font-size: 14px;
            padding: 0 7em 0 0;
            margin-bottom: 1em;
        }

        .seeFylo {
            border: none;
            border-bottom: 2px solid var(--cyan);
            display: inline-block;
            background: none;
            color: var(--cyan);
            padding: 0.1em;

            img {
                margin: 0 0 -0.3em 0.3em;
            }

            &:hover {
                filter: brightness(500%);
            }
        }
    }
}

@media (max-width: 736px) {
    .stayProductive {
        flex-direction: column;
        padding: 8em 1em 0 1em;

        .imageStay {
            width: 100%;
        }

        .stayText {
            width: auto;

            h2 {
                font-size: 18px;
                padding: 3em 0 1.5em 0;
            }

            p {
                padding: 0;
            }
        }
    }
}